<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=p, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Inicio - Mecha-tool</title>

</head>

<body class="body-index">
    <header id="herder-index" class="header-index">
     <h1 class="titulo-principal">MECHA-TOOL RR DE VENEZUELA</h1>
 
     <nav >
        <ul class="nav-lista">
            <li> <a href="../index.html" class="a1">Inicio</a></li>
            <li> <a href="./views/productos.html" class="a1"> Productos</a></li>
            <li> <a href="./views/acerca-de-nosotros.html" class="a1">Acerca de Nosotros</a></li>
            <li> <a href="./views/destino.html" class="a1">Destino</a> </li>
            <li> <a href="./views/contacto.html" class="a1">Contacto</a> </li>
            
            
        </ul> 
     </nav>
 
 
 </header>
    
    
    <main class="main-productos">

 
          <h1 class="titulo-productos">Nuestro productos</h1>
    
          <span class="distribui2"> lubricantes</span>  
            <form action=""  class="distribui2">
                <label for="mecha-toll">Mecha-tool</label>
                <input type="radio" name="lubriacantes" id="mecha-toll" value="mecha-toll">
           
                <label for="valgab">Valgab</label>
                <input type="radio" name="lubriacantes" id="valgab" value="valgab">
    
                <label for="reiker">Reiker</label>
                <input type="radio" name="lubriacantes" id="reiker" value="reiker">
        
                <label for="montion-plus">Montion Plus</label>
                <input type="radio" name="lubriacantes" id="montion-plus" value="montion-plus">
            </form>
       
    <section  class="oil1">
        <h2 class="completo">MECHA-TOOL</h2>
                
            <Article class="formu1">
                
                <img src="../img/IMPROVED-FORMULA-15W40-CI-4-SN-1.png" alt="" class="imagen-aceite">
                    <div class="lubri">
                        <h3 class="fig1">MECHA-TOOL® </h3>
                            <p>IMPROVED FORMULA 15W40</p> 
                            <p>CI-4/SN PLUS MOTOR OIL</p>
                    </div>
            </Article>
                
            <article class="formu1">
                
                <img src="../img/25W-60.png" alt="" class="imagen-aceite">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3>
                            <p>25W-60 CI-4 HIGH VISCOSITY</p>
                             <p>MOTOR OIL</p>
                        
                    </div>
            </article>

            <article class="formu1">
                
                <img src="../img/15W40-SYNTHETIC-BLEND.png" alt="" class="imagen-aceite">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL® </h3>
                            <p>SYNTHETIC BLEND </p>
                            <p>SAE 15W-40</p>
                    </div>
            </article>

            <article class="formu1">
                
                <img src="../img/IMPROVED-FORMULA-15W40-CI-4-SN-1.png" alt="" class="imagen-aceite">
                    <div class="lubri1">
                        <h3 class="fig1">DIESEL MOTOR OIL</h3>
                            <p>SAE 15W-40</p>
                            <p>CI-4/SN</p>
                        
                        
                
                    </div>
            </article>

                        
            <article class="formu1">
                
                <img src="../img/GEAR-80W90-FULL-SYNTHETIC.png" alt="" class="imagen-aceite1">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL® </h3>
                            <p>FULL SYNTHETIC</p>
                            <p>GL-5 GEAR OIL</p>
                            <p>SAE 80W-90</p>
                    </div>
            </article>

          
            <article class="formu1">
                
                <img src="../img/M2050ULD.png" alt="" class="imagen-aceite2">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3> 
                            <p>SEMI SYNTHETIC</p> 
                            <p>MOTOR OIL</p>
                            <p>SAE 20W-50</p>
                
                        
                    </div>
            </article>

            <article class="formu1">

                <img src="../img/hidraulic-68.png" alt="" class="imagen-aceite3">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3> 
                            <p>AW-68 HYDRAULIC</p>
                            <p>FLUIDS</p>
                    </div>
            </article>

            <article class="formu1">
                
                <img src="../img/PREMIUM-HYDRAULIC-FLUID-600x600.png" alt="" class="imagen-aceite4">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3> 
                            <p>AW-32 HYDRAULIC</p>
                            <p>FLUIDS</p>
                    </div>
            </article>

            <article class="formu1">
                <img src="../img/Grease-Multipurpose-600x600.png" alt="" class="imagen-aceite5">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3> 
                            <p>MULTIPURPOSE </p>
                            <p>GREASE #2</p>
                    </div>
            </article>

            <article class="formu1">
                <img src="../img/15W-40-MINERAL-Eng.png" alt="" class="imagen-aceite6">
        
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL®</h3>
                            <p>CONVENTIONAL</p>
                            <p>MOTOR OIL SAE 15W-40</p>
                            <p>API SP ILSAC GF-6A</p>
                    </div>
            </article>

            <article class="formu1">
                <img src="../img/high-temp-grease-2.png" alt="" class="imagen-aceite7">
                    <div class="lubri1">
                        <h3 class="fig1">MECHA-TOOL® </h3>
                            <p>HIGH-TEMP LITHIUM </p>
                            <p>RED GREASE</p>
                    </div>
            </article>

            <article class="formu1">
                <img src="../img/ATF-2-1.png" alt="" class="imagen-aceite8">
                    <div class="lubri1">
                        <h3 class="fig1"> MECHA-TOOL® ATF

                    </h3>

                </div>
            </article>

        </section>
    </main>

<hr>

    <footer>
        <h2>MECHA-TOOL  </h2>
        <h3>PRODUCCION RR DE VENEZUELA</h3>
        <P>RIF: J-3028295178 </P>
        <P>Venezuela, Anzoategui-barcelona(anaco, san mateo, el tigre)</P>
        <ul class="inicio-productos">
            <li> <a href="../index.html">inicio</a></li>
        </ul>
    
        
    </footer>

</body>
</html>