.inicio-productos{
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    border: 1px;
    padding: 8px 10px;
    align-items: center;
    text-align: center;
}
footer{
    background-color: red;
    color: white;
    text-align: center;
    background-image: url("../img/diesel.jpeg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}